# from project root
cd backend
pip freeze > requirements.txt   # if you're working from the same virtualenv used for dev
# or manually create a requirements.txt listing your libs, example:
echo"
fastapi
uvicorn[standard]
gunicorn
motor
passlib[bcrypt]
PyJWT
python-dotenv
pdfplumber
google-generativeai
pydantic
python-multipart
pymongo" > requirements.txt